<div class="">
    <div class="col-md-6">
        <form class="form-control " id="math-form" method="get">
            <div class="field">
                <input class="" placeholder="Value 1" id="val1" name="v1"/>
            </div>
            <div class="field">
                <input class="" placeholder="Value 2" id="val2" name="v2"/>
            </div>
            <div>
                <select id="op">
                    <option value="p">+</option>
                    <option value="m">-</option>
                    <option value="t">*</option>
                    <option value="d">/</option>
                </select>
            </div>
            <input type="button" value="Math!" class="btn" id="math"/>
        </form>
    </div>
    <div class="col-md-6">
        <h4 id="result">Result</h4>
    </div>
</div>
